.hits {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  min-height: 676px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(239, 239, 239);
}

.hits__title {
  position: relative;
  display: flex;
  padding-top: 52px;
  padding-bottom: 49px;
  text-transform: uppercase;
  letter-spacing: 0.117em;
  padding-left: 15px;
  padding-right: 15px;
}

.hits__title h2 {
  font-family: $textPantonExtraBold;
  font-size: 36px;
  line-height: 25px;
  font-weight: 800;
  margin-right: 32px;
}

.hits__title a {
  display: flex;
  height: 12px;
  font-family: $textPantonBold;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  color: #009ee2;
  text-transform: uppercase;
  border-bottom: 1px solid #009ee2;
  margin-top: auto;
  letter-spacing: 0.2em;

  &:hover {
    opacity: 0.5;
  }
}

.hits__bth_back {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(29, 30, 30);
  background-image: url("../img/arrow-right-icon-white.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  top: 50px;
  right: 47px;

  &:hover {
    opacity: 0.5;
  }
}

.hits__bth_next {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(29, 30, 30);
  background-image: url("../img/arrow-right-icon-white.png");
  background-repeat: no-repeat;
  background-position: center;
  top: 50px;
  right: 15px;

  &:hover {
    opacity: 0.5;
  }
}

.discount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 35px;
  border-radius: 3px;
  background-color: #00963f;
  font-family: $textPantonExtraBold;
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  padding: 6px 6px;
  padding-top: 5px;
  top: 0;
  left: -1px;
  z-index: 10;
}

.hit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 35px;
  border-radius: 3px;
  background: linear-gradient(270deg, rgb(1, 135, 193) 0%, rgb(58, 192, 239) 100%);
  font-family: $textPantonExtraBold;
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  padding: 3px 3px;
  top: 39px;
  left: -1px;
  z-index: 10;
}

.hits__list {
  list-style: none;
  display: flex;
  max-width: 1170px;
  min-height: 480px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.hits__item {
  position: relative;
  max-width: 262px;
  min-width: 262px;
  height: 450px;
  margin-right: 30px;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 5px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);

  &:first-child {
    border: none;
  }
}

.hits__item_rollenhalter {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 21px;
    background-image: url("../img/valentines-heart.png");
    bottom: 169px;
    right: 25px;
  }
}

.hits__item img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hits__rollenhalter img {
  width: 236px;
  height: 230px;
  top: 11px;
  left: 14px;
}

.hits__shad-jigging img {
  width: 170px;
  height: 220px;
  top: 46px;
  left: 57px;
}

.hits__coil-hits img {
  width: 190px;
  height: 228px;
  top: 25px;
  left: 35px;
}

.hits__item p {
  font-family: $textPantonSemiBold;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #000000;
  padding-left: 17px;
  letter-spacing: 0.036em;
}

.hits__item span {
  font-family: $textPantonExtraBold;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: #000000;
  padding-left: 18px;
  margin-top: 6px;
  margin-bottom: 21px;
  letter-spacing: 0.028em;
}

.hits__item_shad-jigging span {
  position: relative;

  &::after {
    position: absolute;
    content: "Ваш выгода 3 200 р.";
    font-family: $textPantonSemiBold;
    font-size: 12px;
    line-height: 22px;
    font-weight: 600;
    color: #00963f;
    top: 20px;
    left: 19px;
    letter-spacing: 0.18px;
  }
}

.hits__item_shad-jigging del {
  position: absolute;
  font-family: $textPantonSemiBold;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #6d6d6d;
  bottom: 0;
  left: 105px;
}

.hits__item button {
  display: flex;
  justify-content: center;
  width: 224px;
  height: 55px;
  margin: 0 auto;
  font-family: $textPantonBold;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(270deg, rgb(1, 135, 193) 0%, rgb(58, 192, 239) 100%);
  letter-spacing: 0.21em;
  padding: 10px;

  &:hover {
    opacity: 0.5;
  }
}

.hits__item_link {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(1, 135, 193) 0%, rgb(58, 192, 239) 100%);
  padding-top: 25px;
  padding-left: 28px;
  padding-bottom: 24px;
  padding-right: 25px;

  &:hover {
    opacity: 0.5;
  }
}

.hits__item_link h3 {
  font-family: $textPantonExtraBold;
  font-size: 33px;
  line-height: 25px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 17px;
  letter-spacing: 0.02em;
}

.hits__item_link p {
  width: 100px;
  font-family: $textPantonSemiBold;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: #4cd2fe;
  margin-bottom: auto;
  padding-left: 0;
}

.hits__item_link span {
  font-family: $textPanton;
  font-size: 30px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  padding-left: 0;
  margin-bottom: 0;
  letter-spacing: 0.008em;
}

.hits__item_link img {
  position: relative;
  width: 280px;
  height: 295px;
}

.hits__item_coil-small {
  position: absolute;
  top: 105px;
  right: -38px;
}

.hits__stars input:checked ~ label,
.hits__stars label,
.hits__stars label:hover,
.hits__stars label:hover ~ label {
  background: url("../img/star-free.png");
  background-repeat: no-repeat;
}

.hits__stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-left: 17px;
  padding-top: 260px;
  position: relative;
  margin-bottom: 14px;
}

.hits__stars input {
  opacity: 0;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  z-index: 0;
}

.hits__stars input:checked ~ label {
  background: url("../img/star.png");
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
}

.hits__stars label {
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-right: 3px;
  position: relative;
  z-index: 1;
}

.hits__stars label:hover,
.hits__stars label:hover ~ label {
  background: url("../img/star.png");
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
}
