@font-face {
  font-family: "Panton";
  src: local("Panton"), url("../fonts/Panton.woff2") format("woff2"), url("../fonts/Panton.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PantonBold";
  src: local("PantonBold"), url("../fonts/PantonBold.woff2") format("woff2"), url("../fonts/PantonBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PantonExtraBold";
  src: local("PantonExtraBold"), url("../fonts/PantonExtraBold.woff2") format("woff2"), url("../fonts/PantonExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PantonSemiBold";
  src: local("PantonSemiBold"), url("../fonts/PantonSemiBold.woff2") format("woff2"), url("../fonts/PantonSemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
