$mobile-width: 767px;
$tablet-width: 1023px;

$textPanton: "Panton", arial, sans-serif;
$textPantonBold: "PantonBold", arial, sans-serif;
$textPantonExtraBold: "PantonExtraBold", arial, sans-serif;
$textPantonSemiBold: "PantonSemiBold", arial, sans-serif;
